<div id="product_container">
  <section class="box" style="margin-top: 100px">
    <div class="content" *ngIf="product">
      <div class="left">
        <div
          class="product_img"
          style="background: url('{{ product.imageUrl }}') no-repeat;background-size: contain; "
        ></div>
        <div class="product_details">
          <h4 class="title">{{ product.name }}</h4>
          <p class="price">
            {{ product.price | currency }}
            <span class="price_original">$4000</span>
            <span class="offer"> 79% OFF</span>
          </p>
          <p class="other">inclusive of all taxes</p>
        </div>
      </div>

      <div class="right">
        <div class="product_description">
          <h4>PRODUCT DESCRIPTION</h4>
          <p>
            {{ product.description }}
          </p>
          <p>
            <span class="highlight">Country of Origin -</span>
            India
          </p>

          <p>
            <button
              *ngIf="!isInCart"
              (click)="addToCart()"
              class="bg-red-700 text-white"
              style="padding: 8px"
            >
              Add to Cart
            </button>
            <button
              *ngIf="isInCart"
              routerLink="/cart"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              class="bg-green-700 text-white"
              style="padding: 8px"
            >
              Go to Cart
            </button>
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
