table,
th,
td {
    border: 1px dashed rgb(167, 167, 167);
    border-collapse: collapse;

}

th {
    color: white;
    background-color: rgb(136, 136, 150);
    padding: 10px;
}

td {
    text-align: center;
}